<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>GIS</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>192.168.0.127:9980</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>ananta.gismile.com</key>
			<dict>
				<key>NSAllowArbitaryLoads</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequireForwardSecrecy</key>
				<true/>
				<key>NSIncludeSubDomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSThirdPartyExceptionRequiresForwardSecerecy</key>
				<true/>
			</dict>
			<key>art.hawkscode.org</key>
			<dict>
				<key>NSAllowArbitaryLoads</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequireForwardSecrecy</key>
				<true/>
				<key>NSIncludeSubDomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSThirdPartyExceptionRequiresForwardSecerecy</key>
				<true/>
			</dict>
			<key>gis247.net</key>
			<dict>
				<key>NSAllowArbitaryLoads</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequireForwardSecrecy</key>
				<true/>
				<key>NSIncludeSubDomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSThirdPartyExceptionRequiresForwardSecerecy</key>
				<true/>
			</dict>
			<key>hawkscode.org</key>
			<dict>
				<key>NSAllowArbitaryLoads</key>
				<true/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSExceptionRequireForwardSecrecy</key>
				<true/>
				<key>NSIncludeSubDomains</key>
				<true/>
				<key>NSRequiresCertificateTransparency</key>
				<false/>
				<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSThirdPartyExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
				<key>NSThirdPartyExceptionRequiresForwardSecerecy</key>
				<true/>
			</dict>
			<key>https://api2dev.gis247.net</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Our App uses bluetooth to find, connect and transfer data using RFID</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Our App uses bluetooth to find, connect and transfer data using RFID</string>
	<key>NSCameraUsageDescription</key>
	<string>Our App uses camera for scanning stocks</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Our App uses camera for scanning stocks</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Our app needs access to the microphone to enable speech recognition.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Our App uses files for uploading Images</string>
	<key>NSSiriUsageDescription</key>
	<string>Our App uses FaceID for device owner authentication with biometric</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Our app needs access to speech recognition to enable voice commands.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string></string>
		<string>BackNavigateIntent</string>
		<string>CatelogIntentIntent</string>
		<string>FaceLoginIntent</string>
		<string>IntentIntent</string>
		<string>InventoryIntent</string>
		<string>QuickViewSearchIntent</string>
		<string>StockTakeIntent</string>
		<string>group.com.gis247.BackNavigation</string>
		<string>group.com.gis247.Catelog</string>
		<string>group.com.gis247.CatelogIntent</string>
		<string>group.com.gis247.FaceLogin</string>
		<string>group.com.gis247.QuickViewSearchIntent</string>
		<string>group.com.gis247.StockTake</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>segoe_semibold.ttf</string>
		<string>segoe_bold.ttf</string>
		<string>segoe_regular.ttf</string>
		<string>segoe_italic.ttf</string>
        <string>Fraunces_72pt-Light.ttf</string>
        <string>Fraunces_72pt-Black.ttf</string>
        <string>Fraunces_72pt-Italic.ttf</string>
        <string>Fraunces_72pt-Bold.ttf</string>
        <string>Fraunces_72pt-Regular.ttf</string>
        <string>Fraunces_72pt-Thin.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>external-accessory</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Test</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.zebra.scanner.SSI</string>
		<string>com.motorolasolutions.scanner</string>
		<string>com.symbol.rfd8X00_easytext</string>
		<string>com.zebra.rfd8X00_easytext</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
